@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.P {
  font-size: 15px;
}


.t
{
position: absolute;

}

.t1
{
position: relative;
top: auto;
}